div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;

}

.satu {
    
    background-color: lime;
    padding: 10px;
    border: 10px solid red;
}

.dua {
    
    background-color: blueviolet;
    padding: 30px;
    border: 5px dashed lightcoral;
}